<div id='moola-container'>
  Please enter credit/debit card information:
      <div id="cardName">
        Full Name:
        <input type="text" />
      </div>
      <div id="card-number">
        Card Number:
        <input type="number" />
      </div>
      <div id="sec-code">
          Security Code:
          <input type="number" />
        </div>
        <div id="card-exp">
            Card Expiration:
            <input type="month" />
          </div>
 
  <button> Submit Payment</button>
</div>