<div class="content-container" (keypress)="handleKeypress($event)">
    <mat-toolbar>
        <button mat-icon-button matTooltip="Menu (ESC)" matTooltipPosition="right" (click)="sidenav.toggle()">
            <i class="material-icons">menu</i>
        </button>

        <h1>Kevin's Craft Bacon</h1>
    </mat-toolbar>

    <mat-sidenav-container id="nav-container">
        <mat-sidenav id="sidenav" #sidenav opened="false" mode="side">
            <a mat-button id="home" matTooltip="Home (Alt + 0)" matTooltipPosition="above" routerLink="">
                <i class="material-icons">home</i>
            </a>
            <a mat-button id="profile" matTooltip="Profile (Alt + 1)" matTooltipPosition="above" routerLink="/profile" *ngIf="sessionUser">
                <div id="profile-nav" class="nav-item">Profile</div>
            </a>
            <br *ngIf="sessionUser">
            <a mat-button id="login" matTooltip="Login (Alt + 2)" matTooltipPosition="above" routerLink="/auth/login" *ngIf="!sessionUser">
                <div id="login-nav" class="nav-item">Login</div>
            </a>
            <br *ngIf="!sessionUser">
            <a mat-button id="register" matTooltip="Register (Alt + 3)" matTooltipPosition="above" routerLink="/auth/register" *ngIf="!sessionUser">
                <div id="register-nav" class="nav-item">Register</div>
            </a>
            <br *ngIf="!sessionUser">
            <a mat-button id="cart" matTooltip="Cart (Alt + 4)" matTooltipPosition="above" routerLink="/bacon/cart" *ngIf="sessionUser">
                <div id="cart-nav" class="nav-item">Cart</div>
            </a>
            <br *ngIf="sessionUser">
            <a mat-button id="orders" matTooltip="Orders (Alt + 5)" matTooltipPosition="above" routerLink="/profile/orders" *ngIf="sessionUser">
                <div id="orders-nav" class="nav-item">Orders</div>
            </a>
            <br *ngIf="sessionUser">
            <a mat-button id="logout" matTooltip="Logout (Alt + 6)" matTooltipPosition="above" routerLink="/auth/logout" *ngIf="sessionUser">
                <div id="logout-nav" class="nav-item">Logout</div>
            </a>
        </mat-sidenav>

        <router-outlet id="router-out"></router-outlet>
    </mat-sidenav-container>
</div>