@import '~@angular/material/theming';

$blue-grey: mat-color($mat-blue-grey, 700);
$dark-grey: mat-color($mat-grey, 900);
$light-grey: mat-color($mat-grey, 200);
$toolbar: mat-color($mat-blue-grey, 900);

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $toolbar;

    button {
        background: $toolbar;

        i {
            color: $light-grey;
        }
    }

    h1 {
        color: $light-grey;
        font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 30px;
        margin: 0 auto;
    }
}

mat-sidenav-container {
    position: absolute;
    top: 10.2%;
    bottom: 0;
    left: 0;
    right: 0;

    mat-sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12%;
        background: $blue-grey;

        .nav-item-container {
            padding-bottom: 10%;
            padding-top: 10%;

            a {
                text-decoration: none;

                .nav-item {
                    color: $light-grey;
                    font-family: 'Montserrat Subrayada', sans-serif;
                    font-size: 25px;
                    margin: 0 auto;
                    width: fit-content;
                }
            }
        }

        .nav-item-container:hover {
            background-color: $dark-grey;
        }
    }
}
