<div id="registration-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Username" id="username" [(ngModel)]="user.username">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="password" placeholder="Password" id="password" [(ngModel)]="user.password">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="First Name" id="first-name" [(ngModel)]="user.firstName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Last Name" id="last-name" [(ngModel)]="user.lastName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="email" placeholder="Email" id="email" [(ngModel)]="user.email">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="tel"  placeholder="Phone #" id="phone-no"
          [(ngModel)]="user.phoneNumber">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Address" id="address" [(ngModel)]="user.streetAddress">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="City" id="city" [(ngModel)]="user.city">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="State" id="state" [(ngModel)]="user.state">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Zipcode" id="zip" [(ngModel)]="user.zip">
      </mat-form-field>
      <br />
      Would you like to sign up for our NewsLetter?
      <br>

      <div>
        <mat-checkbox id='checkboxYes' [checked]='isCheckedYes' (change) ='onCheckBoxClicked()'>Yes </mat-checkbox>
        <mat-checkbox id='checkboxNo' [checked]='isCheckedNo' (change) ='onCheckBoxClicked()'>No</mat-checkbox>
      </div>
      <br>
      <button mat-flat-button type="button" (click)="register()">Register</button>
      <br>
      <a mat-button routerLink="/auth/login">Login</a>
    </mat-card-content>
  </mat-card>
</div>