<app-navbar></app-navbar>

<div id="registration-container">
  <div id="username">
    Username:
    <input type="text" />
  </div>
  <div id="password">
    Password:
    <input type="password" />
  </div>
  <div id="first-name">
    First Name:
    <input type="text" />
  </div>
  <div id="last-name">
    Last Name:
    <input type="text" />
  </div>
  <div id="email">
    Email:
    <input type="email" />
  </div>
  <div id="phone-no">
    Phone #:
    <input type="tel" pattern="[0-9]{3} - [0-9]{3} - [0-9]{4}" />
  </div>
  <div id="address">
    Street Address:
    <input type="text" />
  </div>
  <div id="city">
    City:
    <input type="text" />
  </div>
  <div id="state">
    State:
    <input type="text" />
  </div>
  <div id="zip">
    Zip:
    <input type="number" />
  </div>
  <button type="button" id="registration-btn">Submit</button>
</div>

