<div id='cartItems' class="mat-elevation-z8">
    <table mat-table [dataSource]="cartDataSource">

        <ng-container matColumnDef="itemId">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <ng-container matColumnDef="statusId">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status_id}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.itemPrice | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> {{total | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cartDisplayedColumns"></tr>


        <tr mat-row *matRowDef="let row; columns: cartDisplayedColumns;" (click)="selectRow($event)"></tr>
        <tr mat-footer-row *matFooterRowDef="cartDisplayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <mat-card>
        <button mat-flat-button type="button" (click)='deleteRow()' *ngIf='!isCheckingOut'>Remove From Cart</button>
        <button mat-flat-button type="button" (click)='goToCheckout()' *ngIf='!isCheckingOut'>Checkout Cart</button>
    </mat-card>

    <div *ngIf='isCheckingOut'>
        <h4>Select Card Payment</h4>
        <mat-form-field>
            <select matNativeControl required id='paymentSelect'>
            </select>
        </mat-form-field>

        <button mat-flat-button type="button" (click)='completeCheckout()' *ngIf='isCheckingOut'>Checkout Cart</button>
    </div>

    
</div>