@import '~@angular/material/theming';

$blue-grey: mat-color($mat-blue-grey, 700);
$dark-grey: mat-color($mat-grey, 900);
$light-grey: mat-color($mat-grey, 200);
$font: 'Montserrat', sans-serif;

mat-grid-tile {
    display: inline-block;
    border: 1px solid black;

    mat-card {
        display: inline-block;
        border: 1px solid green;

        mat-card-header {
            margin: 2% auto;

            a {
                color: $blue-grey;
                font-family: $font;
                text-decoration: none;
            }

            a:hover {
                color: $dark-grey;
            }
        }

        mat-card-content {

            img {
                object-fit: contain;
            }

            p {
                font-family: $font;
                margin: 2% auto;
            }
        }
    }
}

#featuredItems{

    height: 100%;
}

#featuredItems img{
    width: 100%;

}

#browse-container{
    height: 100vh;
}