/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

html, body {
    background: mat-color($mat-grey, 200);
    height: 100%;
    margin: 0;
}